<%- include('header'); -%>

    <header>
        <div class="container-fluid bg-primary-subtle">
            <div class="col-sm-8 mx-auto text-center py-2">
                <h1 class="display-4">dKin Caps</h1>
                <p class="lead ">A young and inspiring organisation whose
                    primary purpose is to bring you the highest quality headwear available.</p>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <h3 class="mt-3">dKin Caps: Form submmitted successfully</h3>

            <p>
                Welcome Mick to the <strong>dKin Caps</strong> community. your membership details have been received. Please check the below:
              
            </p>

            <h5>Membership details</h5>

            <div>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>id</th>
                            <th>first name</th>
                            <th>sure name</th>
                            <th>mobile</th>
                            <th>email</th>
                            <th>capsOwned</th>

                        </tr>

                        <% if (rows.length === 0) { %>
                        
                            <tr class="mx-auto"></tr>
                                <td style="width: 100%;" colspan="3" >List is Empty</td>
                            </tr>

                        <% } else { %>

                            <% rows.forEach(function(row) { %>
                                <tr class="mx-auto">
                                    <td style="width: 33.33%;"><%= row.id %></td>
                                    <td style="width: 33.33%;"><%= row.firstname %></td>
                                    <td style="width: 33.33%;"><%= row.surename %></td>
                                    <td style="width: 33.33%;"><%= row.mobile %></td>
                                    <td style="width: 33.33%;"><%= row.email %></td>
                                    <td style="width: 33.33%;"><%= row.capsOwned %></td>
                                    <td style="width: 33.33%;"><%= row.capstyles %></td>  
                                </tr>
                            <% }); %>

                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <%- include('footer'); -%>
